.home-container {
    text-align: center;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3.5%;
    font-family: Helvetica, sans-serif;
  }
  
.home-container h1 {
    text-align: left;
    font-size: 4.5rem;
    color: #00387A;
    margin-top: 5px;
}

.home-container h2 {
    text-align: left;
    font-size: 2.5rem;
    color: #00387A;
    margin-bottom: 5px;
}