.big-report-container {
    height: 100%;
    width: 100%;
   color: #00387A;
}
  
.text-report-container h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #00387A;
}
  
.text-report-container  p {
    color: #00387A;
    font-size: 16px;
    line-height: 1.5;
}
