:root {
    --text-color: #00387A;
    --background-color: #f5f5f5;
    --middle-color: #dfedff;
}

[data-theme='dark'] {
    --text-color: #f5f5f5;
    --background-color: #121212;
    --middle-color: #121212;
}