.view-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: var(--middle-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view-container h1 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.view-container h2 {
    color: var(--text-color);
    font-size: 18px;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.custom-select {
    flex: 1; 
    margin-right: 5px; 
}

  
.filter-container h2 {
    margin-right: 10px; 
}

.report-list {
    list-style: none;
    padding: 0;
}

.report-item {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    background-color: #FFFFFF;
}

.report-item-block {
    width: 100%;
    padding: 15px 20px;
    color: #00387A;
    border: none;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.report-item button{
    width: auto;
    padding: 8px 15px;
    margin: 10px 10px 10px 10px;
    background-color: #00387A;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
  
  